body{
    padding: 0;
    margin: 0;
    background-color: lightblue;
}
#search{
    width: 100%;
    height: 1200px;
    
}
#top{
    width: 80%;
    height: 100px;
    margin:  auto;
}
#top .nav{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#top .nav a{
    display: inline-block;
    padding: 0 50px;
    text-decoration:none ; 
    color: black;
}
#top .s{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
}
#top .s input{
    width: 75%;
    height: 30px;
    left: 50px;
}
#top .s button{
    height: 30px;
    width: 100px;
    
}
#top .s a{
    text-decoration:none ; 
    color: black;
}
.fenlei{
    width: 60%; 
    height: 50px;
    margin: 0 auto;
}
.fenlei a{
    text-decoration:none ; 
    line-height: 50px;
    margin: 10px;
    color: black;
}
.xihuan{
    width: 60%;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
}
.xihuan a{ 
    margin: 10px;

}
.main {
    width: 1000px;
    height: 600px;
    margin: 0px auto;
}

div {
    font-size: 12px;
}

img {
    display: block;
}

.detail {
    font-size: 0px;
    background: url(./img/con.png) no-repeat 190px center;
    border: 1px solid #E6E6E6;
}

.details {
    display: inline-block;
    padding-right: 13px;
    border-right: 1px solid #E6E6E6;
    text-align: center;
    text-indent: 1.2em;
}

.show {
    width: 220px;
    display: inline-block;
    margin-left: 20px;
}

.content {
    font-size: 0px;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    color: red;
    font-weight: bold;
}


mark {
    background-color: transparent;
    color: #E5C45A;
}

span {
    color: #8236E5;
}

.button {
    height: 50px;
    margin: 0 auto;
    position: relative;
    left: 450px;
}
.button{
    width: 100%;
    height: 100px;
    /* background-color: fuchsia; */
    margin: 0 auto;
    position: relative;
    left: 220px;
}
.button input{
    height: 20px;
    width: 60px;
}
.button button:last-child{
    width: 50px;
    height: 22px;
}